HTTP header field names not case insensitive

According to [RFC 2616 Section 4.2 "Message Headers"](https://www.w3.org/Protocols/rfc2616/rfc2616-sec4.html#sec4.2) header field names should be case insensitive. Currently, these header field names are not being parsed properly before they get inserted into the list of request headers ($headers, HttpRequest.php) which ultimately leads to problems with all uppercase header field names. 
When using the Advanced Rest Client for example, the 'Host' header is being sent in all uppercase and therefore will be ignored when processing the request. This leads to the inability to route the request to the correct virtualhost and results in 404 errors.